.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  background-color: #121212;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.brand {
  font-size: 24px;
  font-weight: bold;
  color: white;
  cursor: pointer;
}

.items a, 
.connect-nav a {
  margin-left: 20px;
  color: white;
  text-decoration: none;
  font-size: 16px;
  transition: color 0.3s ease;
}

.items a:hover, 
.connect-nav a:hover {
  color: #ee31ff;
}

.connect-nav a {
  padding: 10px 20px;
  border-radius: 20px;
  background: linear-gradient(
    90deg,
    rgba(246, 0, 255, 1) 0%,
    rgba(255, 136, 0, 1) 100%
  );
  color: white;
  text-align: center;
  transition: background 0.4s ease-in-out, color 0.1s ease-in-out;
}

.connect-nav a:hover {
  background: linear-gradient(
    90deg,
    rgba(255, 136, 0, 1) 0%,
    rgba(246, 0, 255, 1) 100%
  );
  color: #121212;
}

/* Hover Effect on Brand */
.brand:hover {
  background: linear-gradient(
    90deg,
    rgba(255, 136, 0, 1) 0%,
    rgba(246, 0, 255, 1) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* Toggle Button Styling */
.toggle-btn span {
  display: inline-block;
  padding: 5px 10px;
  font-size: 25px;
  color: rgba(246, 0, 255, 1);
  border-radius: 5px;
}


/* Responsive Design */
@media (max-width: 768px) {
  .items,
  .connect-nav {
    display: none;
  }

  .toggle-btn {
    display: block;
    cursor: pointer;
  }

  .nav.active .items {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 60px;
    right: 30px;
    background-color: #1a1a1a;
    padding: 10px 20px;
    border-radius: 10px;
  }

  .nav.active .connect-nav {
    display: none;
    margin-top: 10px;
  }
}

@media (min-width: 769px) {
  .toggle-btn {
    display: none;
  }

  .connect-nav {
    display: block;
  }
}
